body{
    background-color: aquamarine;
}
#mom{
  color: rgb(199, 13, 13);
  text-align: center;
}
#dad{
    color: rgb(199, 13, 13);
    text-align: center;
  }
  #sis{
    color: rgb(199, 13, 13);
    text-align: center;
  }
  #me{
    color: rgb(199, 13, 13);
    text-align: center;
  }
  #h22{
    text-align: center;
  }
  #h11{
    text-align: center;
  }